services:
  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airflow
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      PYTHONPATH: /opt/airflow:/opt/airflow/dags

      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin

      AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT: 300
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'

      DBT_PROJECT_DIR: /opt/airflow/dbt_customer_project
      DBT_PROFILES_DIR: /opt/airflow/dbt_customer_project

    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
