version: '3'
services:
  airflow:
    build: .
    container_name: airflow
    command: standalone
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      PYTHONPATH: /opt/airflow:/opt/airflow/dags:/opt/airflow/project
      AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT: 120
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      DBT_PROFILES_DIR: /opt/airflow/dbt_customer_project
    volumes:
      - ./core/airflow/dags:/opt/airflow/dags
      - ./core/dbt_customer_project:/opt/airflow/dbt_customer_project
      - ./:/opt/airflow/project
      - ./core/airflow/libs:/opt/airflow/libs
      - ./core/airflow//logs:/opt/airflow/logs